body {
  margin: 0;
  font-family: "Montserrat","Helvetica","Arial","sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: rgb(4, 29, 51);
  font-family: "Montserrat","Helvetica","Arial","sans-serif";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
